.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: aqua;
}

.header__menu {
  
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__logo {
}

.header__logo-image {
  min-width: 140px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  justify-self: end;
  max-width: 240px;
}

.header__address {
}

.cover {}

.lots {}

.about {}

.footer {}