.layout-common {
  padding: 0 24px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding: 90px 50px;
  font-size: 18px;
}

.header__menu {
  text-transform: lowercase;
}

.header__logo {
  display: block;
  width: 138px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.address__header {
 max-width: 55%;
 justify-self: end;
}

.header__links-list,
.header__address-list,
.lots__card-list,
.footer__menu-list,
.footer__social-list,
.footer__address-list {
  list-style: none;
}

.header__links-list {
  display: flex;
  gap: 28px;
}

.header__address-list {
  max-width: 240px;
}

.header__links-list-item {
  padding-left: 5px;
  list-style: circle;
}

.header__link,
.header__link_active,
.address,
.lots__look-more-link,
.footer__menu-link_active,
.footer__menu-link,
.footer__link {
  font-style: normal;
  text-decoration: none;
}

.header__link,
.footer__menu-link,
.footer__link,
.lots__look-more-link {
  text-decoration: 1px underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  gap: 0 0 90px 0;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_center {
  margin-right: -0.3em;
  padding: 18px 0;
  text-align: center;
}

.aligned-text_right {
  margin-right: -0.3em;
  text-align: end;
}

.aligned-text {
  display: inline-block;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 103px;
}

.description__aligned-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.description__button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding-top: 190px;
  font-style: normal;
  text-decoration: none;
}

.lots__heading,
.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__heading {
  padding: 0 0 40px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card__title {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  text-decoration: 1px underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 25px;
  padding-top: 155px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 150px;
}

.about__title {
  padding: 110px 0 110px;
}

.about__text {
  padding-bottom: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 158px 50px 80px;
  font-size: 18px;
}

.footer__menu {
  justify-items: center;
  line-height: 22px;
  text-transform: lowercase;
}

.footer__menu-list-item {
  justify-self: center;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
